* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: ease-out 2s;
}
button:hover {
  transform: scale(1.05);
}
a:hover {
  text-decoration: none;
}
.btn {
  white-space: normal !important;
}
/* FONTS */
.font-paris {
  font-family: "Parisienne", cursive;
}
.font-icon {
  font-size: 1.2rem;
}
.font-gold {
  color: rgb(168, 143, 105);
}
.text {
  width: 80%;
}
.display-2 {
  font-size: 2.8rem;
}
.text2 {
  width: 90%;
}
h3 {
  top: 25;
}
.display-4 {
  font-size: 3rem;
}
.display-6 {
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding: 0 2rem;
}
.display-5 {
  font-size: 1.6rem;
}
.display-number {
  font-size: 1.2rem;
}
.text-shadow {
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.title2 {
  font-size: 2.5rem;
}
/* BACKGROUND */
.bg-gold {
  background-color: rgb(168, 143, 105) !important;
}
.bg-gray {
  background-color: rgba(189, 188, 188, 0.29);
}
/* ANIMATE */
.animate__animated .animate__pulse {
  --animate-duration: 3s;
}
/* DECORATION */
.ribbon {
  background-color: rgba(189, 188, 188, 0.29);
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  letter-spacing: 2px;
}
hr {
  width: 30%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    #f0f0f02f,
    #000000b6,
    #000000b6,
    #f0f0f02f
  );
}
.decoration {
  width: 200px;
}
.line {
  padding-top: 1%;
  width: 200px;
}
/* CAROUSEL */
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  box-shadow: none !important;
  transition: none !important;
}
.owl-carousel .owl-nav {
  position: absolute;
  width: 100%;
  top: 50;
}
.owl-nav {
  color: rgba(27, 27, 26, 0.575);
  display: flex;
  font-size: 2rem;
  margin-top: 0px !important;
  justify-content: space-between;
}
.owl-container {
  width: 100%;
}

/* INDEX.HTML */
.main-image{
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgb(5 7 12 / 59%), rgb(5 7 12 / 67%)), url("./assets/img/paquete-premium.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-language{
  cursor: pointer;
  border: none;
  padding: .5rem .8rem;
  border-radius: 10px;
  margin-right: .5rem ;
  margin-left: .5rem ;
  font-size: 1.2rem;
}


/* INVITE.HTML & INVITACION.HTML */
/* SOBRE */
.sobre {
  height: 100vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-sobre {
  background-color: #242321;
}

.avoiding-scroll {
  height: 100%;
  overflow: hidden;
}

.test-class {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.sobre-arriba {
  bottom: 30;
  top: 0;
  height: 70vh;
  background-position: center;
}
.sobre-abajo {
  position: absolute;
  bottom: 20vh;
  height: 50vh;
  z-index: 2;
  display: block;
  min-width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}
.btn-open {
  box-shadow: none !important;
  transition: none !important;
  position: absolute;
  z-index: 4;
  background-color: rgba(240, 255, 255, 0);
  border: none;
  text-decoration: none;
  width: 100%;
}
.btn-open:focus {
  outline: none;
}
.btn-open img {
  height: 40%;
  width: 40%;
  padding-bottom: 4rem;
}


/* INVITACIÓN */
.hide {
  visibility: hidden;
  max-height: 0vw;
}
.invitacion {
  width: 100vw;
}
/* FIRST PAGE */
.home {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      rgba(5, 7, 12, 0.308),
      rgba(5, 7, 12, 0.335)
    ),
    url("./assets/img/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.name {
  width: 80%;
  padding-right: 0;
}
/* audio */
.player-audio {
  display: none;
}
.player-icon {
  font-size: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 100%;
}
.player-btn {
  bottom: 2rem;
  right: 2rem;
  position: fixed;
  justify-content: end;
  align-items: flex-end;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  z-index: 9;
}
.player-btn:hover {
  cursor: pointer;
}
/* SECOND PAGE */
.second-page {
  height: min-content;
  max-width: 100%;
  background-image: url("./assets/img/andre-jackson-IXLS59CTgDE-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
}
.second-page .container1 {
  background-color: rgb(255, 255, 255);
  height: 100%;
  padding: 1rem 0;
  min-width: 100%;
}
.second-page .container2 {
  background-image: linear-gradient(
      rgba(5, 7, 12, 0.493),
      rgba(5, 7, 12, 0.335)
    ),
    url("./assets/img/pexels-jasmine-carter-888899.jpg");
  height: 60vh;
  width: auto;
  background-color: rgba(0, 0, 0, 0.575);
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-page .container3 {
  background-color: rgb(255, 255, 255);
  height: min-content;
}

.cuenta-regresiva {
  text-align: center;
  font-size: 1.1rem;
  color: rgba(240, 248, 255, 0.849) !important;
}
.cuenta {
  display: flex;
  justify-content: center;
  width: 60%;
}
/* LOCATION PAGE */
.ubicacion {
  height: min-content;
}
.container-ubicaciones {
  width: 70%;
  padding: 1rem;
  margin-top: 2rem;
}
.img-ubicaciones {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
/* PADRINOS */
.icon-img {
  height: 100px;
  width: 30% !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* WINDOW PHRASE PAGE */
.window-phrase {
  height: 40vh;
  max-width: 100%;
  background-image: url("./assets/img/pexels-jasmine-carter-888899.jpg");
  background-size: cover;
  -webkit-background-size: cover; /* Para Safari y Chrome (versiones antiguas) */
  -moz-background-size: cover; /* Para Firefox (versiones antiguas) */
  -o-background-size: cover; /* Para Opera (versiones antiguas) */
  background-repeat: no-repeat;
  background-position: center;
}
.card-phrase {
  height: 40vh;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.w-90 {
  width: 85%;
}

/* NUESTRO INICIO PAGE */
.nuestro-inicio {
  background-color: rgb(197, 166, 119);
}
.nuestro-inicio img {
  width: 250;
  height: 180px;
  border: solid 2px whitesmoke;
  border-radius: 5px;
}

/* DRESS CODE SECTION */
.bg-vestimenta {
  height: min-content !important;
  background: white;
  background-size: cover;
  -webkit-background-size: cover; /* Para Safari y Chrome antiguos */
  -moz-background-size: cover; /* Para Firefox */
  -o-background-size: cover; /* Para Opera */
  background-repeat: no-repeat;
  background-position: center;
}
/* DINAMIC GALERY PAGE */
.bg-dinamic-galery {
  background-color: white;
  padding: 3rem 2rem !important;
  display: flex;
  justify-content: center;
}
.dinamic-galery {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
  margin: 0;
  padding: 2rem 2rem;
  background-image: linear-gradient(rgb(5 7 12 / 36%), rgb(5 7 12 / 25%)),
    url("./assets/img/Copia\ de\ Room.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* GIFT SECTION */
.window-regalos {
  height: min-content;
  max-width: 100%;
  background-image: url("./assets/img/pexels-milan-4639620.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card-regalos {
  margin: 2rem 0;
  height: 80%;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.568);
}
.logo-liverpool {
  width: 150px;
}
.icon-sobre {
  font-size: 5.5rem;
}
/* LAST PAGE */
.last-window-back {
  height: 100vh;
  max-width: 100%;
  background-image: url("./assets/img/pexels-olya-kobruseva-4630032.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* BRAND SECTION */
.brand-container {
  height: 4vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9;
}

@media (min-width: 470px) {
  .btn-open img {
    height: 50%;
    width: 50%;
  }
  .nuestro-inicio img {
    width: 450px;
    height: 350px;
  }
  .icon-sobre {
    font-size: 7rem;
  }

  .logo-liverpool {
    width: 200px;
  }
  .w-90 {
    width: 80%;
  }
  .display-2 {
    font-size: 3.5rem;
  }
  .display-5 {
    font-size: 1.3rem;
  }
}

@media (min-width: 760px) {
  .principal-text {
    width: 60%;
    text-align: center;
  }
  .btn-open img {
    height: 55%;
    width: 55%;
  }
  .display-4 {
    font-size: 3.6rem;
  }
  .cuenta-regresiva {
    font-size: 1.3rem;
  }
  .owl-container {
    width: 60%;
  }
  .text {
    width: 50%;
  }
  .nuestro-inicio img {
    width: 600px;
    height: 500px;
  }
  .card-regalos {
    width: 80%;
  }
  .logo-liverpool {
    width: 250px;
    margin-bottom: 2rem;
  }
  .w-90 {
    width: 60%;
  }
  .display-2 {
    font-size: 4.5rem;
  }
  .display-5 {
    font-size: 1.4rem;
  }
}
@media (min-width: 1020px) {
  .name {
    width: 70%;
    padding-right: 0 !important;
  }
  .btn-open img {
    height: 25%;
    width: 25%;
  }
  .sobre-arriba {
    position: absolute;
    bottom: 30;
    top: 0;
    height: 70vh;
    z-index: 3;
    display: block;
    max-width: 100%;
    min-width: 100%;
    vertical-align: middle;
    border-style: none;
    background-position: center;
  }
  .sobre-abajo{
    bottom: 0;
    height: 100vh;
  }
  .card {
    height: 45vh;
  }
  .logo-liverpool {
    width: 250px;
  }
  .owl-container {
    width: 30%;
  }
  .w-90 {
    width: 45%;
  }
  .display-2 {
    font-size: 5.5rem;
  }
  .display-5 {
    font-size: 1.6rem;
  }
}
